
.dark{
    background-color: #2f3241;
    border-bottom: 1px solid #e8e8e8;
    border-bottom-color: #1a1b23;

    background: #23252f;
    border-bottom: 1px solid #191a22;
}



#left_panel{
    position: fixed;
    left:0;
    top:0;
    bottom: 0;
    width: 260px;
}
#right_panel{
    position: fixed;
    left: 260px;
    right:0;
    top:0;
    bottom: 0;
}





